/* Header.css */
.main-landing .header {
  position: absolute;
  top: 4rem;
  left: 4rem;
  z-index: 10;
  pointer-events: none;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.main-landing .header.loaded {
  opacity: 1;
  pointer-events: auto
}

.main-landing .header .logo h1 {
  color: rgb(230, 230, 230);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  cursor: default;
  margin: 0;
  font: 400 4em/1 "Josefin Sans", sans-serif
}

.header .logo .logo-part {
  padding: 0.5rem;
  padding-left: 0
}

.portfolio-page .header,
.about-section .header,
.coding-portfolio .header {
  cursor: default;
  position: absolute;
  top: 4rem;
  left: 4rem
}

.portfolio-page .header .logo h1,
.about-section .header .logo h1,
.coding-portfolio .header .logo h1 {
  margin: 0;
  font-size: 4em;
  line-height: 1;
  word-spacing: nowrap;
  font: 400 4em/1 "Josefin Sans", sans-serif;
  color: rgb(150, 150, 150)
}

/* Responsive adjustments */
@media (max-width: 1080px) {
  .header .logo .logo-part {
    display: block;
    padding: 0
  }

  .main-landing .header {
    padding-left: 1rem;
    top: 6.5rem;
    left: 0;
    transform: translateX(0);
    border: none
  }

  .portfolio-page .header,
  .about-section .header,
  .coding-portfolio .header {
    top: 1.5rem;
    left: 2rem;
    border: none
  }

  .portfolio-page .header .logo h1,
  .about-section .header .logo h1,
  .coding-portfolio .header .logo h1 {
    font-size: 2em;
    position: relative
  }
}

@media (min-width: 768px) and (max-width: 1366px) {
  .header .logo .logo-part {
    display: block;
    padding: 0
  }

  .main-landing .header {
    top: 13rem;
    left: 2rem
  }

  .main-landing .header .logo h1 {
    font-size: 8em
  }

  .portfolio-page .header,
  .about-section .header,
  .coding-portfolio .header {
    top: 3.7rem;
    left: 2rem
  }

  .portfolio-page .header .logo h1,
  .about-section .header .logo h1,
  .coding-portfolio .header .logo h1 {
    font-size: 3em
  }
}