@keyframes modalFadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

.photo-modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: hsla(0, 0%, 0%, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.photo-modal-content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  width: auto;
  max-width: 65vw;
  object-fit: contain;
  box-sizing: border-box;
  margin: 2rem auto;
  padding: 1rem;
  position: relative;
  background-color: rgb(245, 245, 245);
  border-radius: 0.5rem;
  box-shadow: 0 0.125rem 0.3125rem rgba(0, 0, 0, 0.1);
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}

.photo-modal-content.show {
  visibility: visible;
  opacity: 1;
  animation: modalFadeIn 0.3s ease-out forwards;
}

.photo-modal-image-container {
  display: flex;
  flex: 1;
  max-width: 100%;
  max-height: 70vh;
  overflow: hidden;
}

.photo-modal-content img {
  width: 100%;
  height: auto;
  display: block;
  max-width: auto;
  max-height: 70vh;
  object-fit: contain;
  border-radius: 0.5rem;
}

.photo-modal-close-button {
  position: absolute;
  top: 0.2rem;
  right: 0.2rem;
  font-size: 1.8em;
  padding: 0.5rem 0.5rem;
  border: transparent;
  border-radius: 0.5rem;
  outline: none;
  box-shadow: none;
  color: rgb(50, 50, 50);
  background-color: rgb(245, 245, 245);
}

@media (max-width: 768px) {
  .photo-modal-content {
    align-items: center;
    max-width: 95vw;
    max-height: 650px;
    flex-direction: column;
  }

  .photo-modal-image-container {
    max-width: 100%;
    max-height: 50vh;
  }

  .photo-modal-content img {
    max-width: 100%;
    max-height: 50vh;
  }

  .photo-modal-close-button {
    font-size: 1em;
  }
}

@media (min-width: 768px) and (max-width: 1366px) {

  .photo-modal-close-button {
    font-size: 1em;
  }


}