/* Portfolio.css */
.portfolio-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-gap: 1rem;
  padding: 1rem;
  justify-content: center;
  margin: 0;
}

.portfolio-page .portfolio-heading {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-top: 11rem;
  width: 100%;
  color: rgb(150, 150, 150);
  background-color: rgb(50, 50, 50);
  padding: 1rem;
  font: 400 1.8em/1 "Josefin Sans", sans-serif;

}

.photo-container {
  background-color: rgb(230, 230, 230);
  border: solid rgb(230, 230, 230) 2px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  object-fit: cover;
  width: 100%;
  height: 30rem;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden
}

.portfolio-photo {
  width: 100%;
  height: 100%;
  object-fit: cover
}

.portfolio-page .portfolio-bottom-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding-top: 1rem;
  background-color: rgb(210, 210, 210);
}

.portfolio-page .portfolio-bottom-nav .icons-row {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  color: rgb(90, 90, 90);
}

.portfolio-page .portfolio-bottom-nav .photo-grid-row {
  display: flex;
  cursor: default;
  font-size: 1.2em;
  color: rgb(130, 130, 130);
}

.portfolio-page .action-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 0 0.8rem;
  font-size: 1.5em;
}

/* Responsive adjustments */
@media (max-width: 1080px) {
  .portfolio-section {
    padding: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    grid-gap: 0.5rem;
  }

  .photo-container {
    height: 15rem;
  }

  .portfolio-page .portfolio-heading {
    margin-top: 7rem;
    font-size: 1em;
  }


  .portfolio-section .portfolio-bottom-nav {
    padding-top: 1rem;
  }

  .portfolio-section .action-icon {
    padding: 0;
    font-size: 1.2em
  }

  .portfolio-section .portfolio-bottom-nav .photo-grid-row {
    font-size: 1em
  }
}

@media (min-width: 768px) and (max-width: 1366px) {

  .portfolio-page .portfolio-heading {
    margin-top: 11rem;
  }

  .portfolio-section .action-icon {
    padding: 0 0.8rem;
    font-size: 2em
  }

  .portfolio-section .portfolio-bottom-nav .icons-row {
    font-size: 1.2em;
  }

  .portfolio-section .portfolio-bottom-nav .photo-grid-row {
    font-size: 1.2em;
    align-items: center;
  }
}