/* Portfolio.css */

.portfolio-container {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(400px, 1fr)
  ); /* Three columns of equal width */
  grid-gap: 10px; /* Space between grid items */
  padding: 20px;
  justify-content: center;
  margin: 150px auto;
}

.photo-container {
  background-color: rgb(50, 50, 50);
  border: solid rgb(50, 50, 50) 2px;
  box-sizing: border-box;
  width: 400px;
  height: 400px;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.portfolio-photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.load-message {
  position: relative;
  top: 50%;
  color: rgb(150, 150, 150);
  font-size: 1em;
  font-weight: 600;
  letter-spacing: 0.1em;
  text-align: center;
}

/* Responsive adjustments */

@media (max-width: 768px) {
  .portfolio-container {
    margin-top: 100px;
    margin: 100px, auto;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    padding-right: 3%;
    padding-left: 3%;
  }

  .photo-container {
    width: 100%;
    height: 400px;
    margin: 0;
  }

  .portfolio-photo {
    object-fit: cover;
  }
}
