.services-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    margin: 1rem auto;
    margin-top: 8rem;
    padding: 1rem;
    margin-bottom: 0;
    padding-bottom: 0;
}

.service-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 120%;
    margin: 1rem;
    background-color: rgb(50, 50, 50);
    color: rgb(220, 220, 220);
    padding: 1rem;
    font: 400 2em/1 "Josefin Sans", sans-serif;
}

.service-card h2 {
    display: flex;
    font-weight: 600;
    cursor: default;
}

.service-card p {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 1.5rem;
}

.details-link {
    display: flex;
    justify-content: center;
    text-align: center;
    color: rgb(220, 220, 220);
    width: auto;
    font-size: 1em;
    padding: 0.5rem;
    cursor: pointer;
    transition: ease-in-out 0.2s;
    display: inline-block;
    font-weight: 600
}

.details-link:hover {
    color: rgb(250, 250, 250);
    transform: scale(1.1);
}