/* SocialLinks.css */

.social-icon:hover {
  color: rgb(255, 255, 255);
}

.error .social-icon {
  color: rgb(100, 100, 100);
  padding: 0 10px;
  font-size: 2em;
  &:hover {
    color: rgb(150, 150, 150);
  }
}

.main-landing .social-media-links {
  display: flexbox;
  justify-content: center;
  position: relative;
  width: 100%;
  text-align: center;
  padding-top: 20px;
}

.main-landing .social-media-links h2 {
  justify-content: center;
  cursor: default;
  color: rgb(150, 150, 150);
}

.main-landing .social-icon {
  justify-content: center;
  color: rgb(150, 150, 150);
  padding: 0 10px;
  font-size: 2em;
}

.portfolio-container .social-media-links {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding-top: 10px;
  text-align: center;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s ease, visibility 0.5s;
  background-color: rgba(0, 0, 0, 0.7);
}

.portfolio-container .social-media-links h2 {
  cursor: default;
  color: rgb(220, 220, 220);
  margin-bottom: 10px;
  margin-top: 0;
  font-size: 1em;
}

.portfolio-container .social-icon {
  color: rgb(220, 220, 220);
  padding: 0 10px;
  font-size: 1em;
}

.portfolio-container .show-social-links {
  opacity: 1;
  visibility: visible;
}

.about-content .social-media-links {
  display: flex;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.about-content .social-media-links .social-icon {
  color: rgb(150, 150, 150);
  padding: 0 10px;
  font-size: 2em;
}

/* Responsive adjustments */

@media (max-width: 768px) {
  .main-landing .social-media-links {
    width: 100%;
    padding-bottom: 20px;
    padding-top: 20px;
  }

  .main-landing .social-media-links h2 {
    font-size: 0.8em;
  }

  .main-landing .social-icon {
    font-size: 1.5em;
  }
}
